

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Font Awesome CSS (cho các icon) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/LayoutAdmin/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/LayoutAdmin/assets/vendors/css/vendor.bundle.base.css">
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/LayoutAdmin/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/LayoutAdmin/assets/images/favicon.ico" />
</head>
<body>
    <div class="container-scroller">
        <!-- partial:../../partials/_navbar.html -->
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo" href="#">
                    <img src="~/img/WikasLogo.png" alt="logo" class="img-fluid" style="max-height: 384px; width: auto;">
                </a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-stretch">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="mdi mdi-menu"></span>
                </button>
                <div class="search-field d-none d-md-block">
                    <form class="d-flex align-items-center h-100" action="#">
                        <div class="input-group">
                            <div class="input-group-prepend bg-transparent">
                                <i class="input-group-text border-0 mdi mdi-magnify"></i>
                            </div>
                            <input type="text" class="form-control bg-transparent border-0" placeholder="Search projects">
                        </div>
                    </form>
                </div>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <partial name="_LoginPartial" />
                    </li>
                </ul>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:../../partials/_sidebar.html -->
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
                <ul class="nav">
                    
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Statistics" asp-action="Index">
                            <span class="menu-title">Thống Kê</span>
                            <i class="fa-solid fa-file-invoice-dollar menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="PromotionCode" asp-action="Index">
                            <span class="menu-title">Quản Lý Mã Khuyến Mãi</span>
                            <i class="fa-solid fa-box promotion-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="CustomerPoint" asp-action="Index">
                            <span class="menu-title">Quản Lý Điểm Khách Hàng</span>
                            <i class="fa-solid fa-box promotion-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Order" asp-action="Index">
                            <span class="menu-title">Quản Lý Đơn Hàng</span>
                            <i class="fa-solid fa-file-invoice-dollar menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Product" asp-action="Index">
                            <span class="menu-title">Quản Lý Sản Phẩm</span>
                            <i class="fa-solid fa-box menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Category" asp-action="Index">
                            <span class="menu-title">Quản Lý Danh Mục</span>
                            <i class="fa-solid fa-list menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Brand" asp-action="Index">
                            <span class="menu-title">Quản Lý Brand</span>
                            <i class="fa-solid fa-list menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Size" asp-action="Index">
                            <span class="menu-title">Quản lý Size</span>
                            <i class="fa-solid fa-file-invoice-dollar menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="PetServices" asp-action="Index">
                            <span class="menu-title">Quản Lý Đặt Lịch</span>
                            <i class="fa-solid fa-calendar-check menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Service" asp-action="Index">
                            <span class="menu-title">Quản Lý Dịch Vụ</span>
                            <i class="fa-solid fa-concierge-bell menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="Pet" asp-action="Index">
                            <span class="menu-title">Quản Lý Thú Cưng</span>
                            <i class="mdi mdi-paw menu-icon"></i>
                        </a>
                    </li>
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin" asp-controller="Admin" asp-action="PhanQuyen">
                                <span class="menu-title">Quản lý phân quyền</span>
                                <i class="fa-solid fa-ruler menu-icon"></i>
                            </a>
                        </li>
                    }
                  
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Admin" asp-controller="EmployeeChat" asp-action="Index">
                            <span class="menu-title">Quản lý Chat</span>
                            <i class="fa-solid fa-comments menu-icon"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:../../partials/_footer.html -->
                <footer class="footer">
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script>
        $(document).ready(function() {
            $(".nav-item").click(function() {
                // Loại bỏ lớp 'selected' khỏi tất cả các mục
                $(".nav-item").removeClass("selected");

                // Thêm lớp 'selected' vào mục mà người dùng vừa nhấn
                $(this).addClass("selected");
            });
        })
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/LayoutAdmin/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- inject:js -->
    <script src="~/LayoutAdmin/assets/js/off-canvas.js"></script>
    <script src="~/LayoutAdmin/assets/js/hoverable-collapse.js"></script>
    <script src="~/LayoutAdmin/assets/js/misc.js"></script>
    <!-- Render Scripts section for Views -->
    @RenderSection("Scripts", required: false)
</body>
</html>